@model DoAn_ASPNETCORE.Areas.Admin.Models.TaiKhoanModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{

}

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" style="background:#b22222">
                    <i class="material-icons">&#xE872;</i>
                </div>
                <h4 class="modal-title w-100">Xóa Thành Công!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin-left:90px;background:#b22222" name="btn_ok" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="updateModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" style="background:#3205cd">
                    <i class="material-icons">&#xE86A;</i>
                </div>
                <h4 class="modal-title w-100">Cập Nhật Thành Công!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin-left:90px;background:#3205cd" name="btn_ok" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Khách Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="edit_id" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsAdmin" class="control-label"></label>
                        <input asp-for="IsAdmin" class="form-control" />
                        <span asp-validation-for="IsAdmin" class="text-danger"></span>
                    </div>




                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" name="btn_create_nhacungcap" class="btn btn-primary">Thêm Mới</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa Khách Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="edit_id" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsAdmin" class="control-label"></label>
                        <input asp-for="IsAdmin" class="form-control" />
                        <span asp-validation-for="IsAdmin" class="text-danger"></span>
                    </div>




                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btn_update_user" class="btn btn-primary">Cập Nhật</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="sidebar" data-image="~/admin/img/badmin.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Quản Lý
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a class="nav-link" href="~/Admin/sanpham/index">
                        <i class="nc-icon nc-app"></i>
                        <p>Sản Phẩm</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="~/Admin/loaisanpham/index">
                        <i class="nc-icon nc-paper-2"></i>
                        <p>Loại Sản Phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Admin/nhacungcap/index">
                        <i class="nc-icon nc-delivery-fast"></i>
                        <p>Nhà Cung Cấp</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="~/Admin/user/index">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Khách Hàng</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="~/Admin/hoadon/index">
                        <i class="nc-icon nc-paper-2"></i>
                        <p>Hóa Đơn</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="~/Admin/chitiethoadon/index">
                        <i class="nc-icon nc-notes"></i>
                        <p>Chi Tiết Hóa Đơn</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="~/Admin/danhmuc/index">
                        <i class="nc-icon nc-notes"></i>
                        <p>Danh Mục</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-panel">

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Thêm</button>
                        </p>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    
                                    <th>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsAdmin)
                                    </th>
                                   


                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="dsuser">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts{
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script>
                window.onload = function () {
                    $.ajax({
                        url: "../../api/TaiKhoanApi/GetTaiKhoanModel",
                        type: "GET",
                        contentType: "Application/json;charset-utf-8",
                    }).done(function (reponse) {
                        console.log(reponse);
                        var newHtml = "";
                        $.each(reponse, function (index, User) {
                            newHtml += '<tr><td>' + User.userName + '</td>';
                            newHtml += '<td>' + User.password + '</td>';
                            newHtml += '<td>' + User.isAdmin + '</td>';
                           

                            newHtml += '<td>' + '<button type="button" id="edit_user" data-iduser="' + User.id + '" class="btn btn-primary" data-toggle="modal" data-target="#EditModal">Edit</button>'
                            newHtml += '<button type="button" id="btn_delete_user" data-iduser="' + User.id + '" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete</button>';
                        });
                        $("#dsuser").empty();
                        $("#dsuser").html(newHtml);
                    }).fail(function () {
                        alert('Thất bại !');
                    });

                }
                function addUser() {
                    var insert = {};
                    insert.UserName = $("#username").val();

                    insert.Password = $("#password").val();

                    insert.HoTen = $("#isAdmin").val();

                  


                    $.ajax({
                        url: "../../api/TaiKhoanApi/PostTaiKhoanModel",
                        type: "POST",
                        contentType: "Application/json;charset-utf-8",
                        data: JSON.stringify(insert),
                        dataType: "json"
                    }).done(function (reponse) {
                        $("#AddModal").modal('hide');
                        $("#successModal").modal('show');

                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                function getUser(id) {
                    $.ajax({
                        url: "../../api/TaiKhoanApi/GetTaiKhoanModel/" + id,
                        type: "GET",
                        contentType: "Application/json;charset-utf-8",
                        dataType: "json"
                    }).done(function (reponse) {
                        $("#edit_id").val(reponse.id);
                        $("#edit_username").val(reponse.userName);
                        $("#edit_password").val(reponse.password);
                        $("#edit_hoten").val(reponse.hoTen);
                        $("#edit_diachi").val(reponse.diaChi);
                        $("#edit_email").val(reponse.email);
                        $("#edit_sdt").val(reponse.sdt);

                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                function updateUser(id) {
                    var update = {}
                    update.ID = parseInt(id);
                    update.UserName = $("#edit_username").val();

                    update.Password = $("#edit_password").val();

                    update.HoTen = $("#edit_isadmin").val();


                    $.ajax({
                        url: "../../api/TaiKhoanApi/PutTaiKhoanModel/" + id,
                        type: "PUT",
                        contentType: "Application/json;charset-utf-8",
                        data: JSON.stringify(update),
                        dataType: "json"
                    }).done(function (reponse) {
                        $("#EditModal").modal('hide');
                        $("#updateModal").modal('show');

                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                function deleteUser(id) {

                    $.ajax({
                        url: "../../api/TaiKhoanApi/DeleteTaiKhoanModel/" + id,
                        type: "DELETE",
                        contentType: "Application/json;charset-utf-8",
                        dataType: "json"
                    }).done(function (reponse) {
                        $("#deleteModal").modal('show');

                    }).fail(function () {
                        alert('Thất bại !');
                    });
                }
                $(document).ready(function () {
                    $('button[name=btn_create_user]').click(function (e) {
                        addUser();
                        e.preventDefault();
                    });
                    $('body').on('click', '#edit_user', function () {
                        var id = $(this).data("iduser");
                        getUser(id);
                        e.preventDefault();
                    });
                    $('body').on('click', '#btn_update_user', function () {
                        var id = $("#edit_id").val();
                        updateUser(id);
                        e.preventDefault();
                    });
                    $('body').on('click', '#btn_delete_user', function () {
                        var id = $(this).data("iduser");
                        deleteUser(id);
                        e.preventDefault();
                    });
                    $('button[name=btn_ok]').click(function (e) {
                        location.reload();
                    });
                });

            </script>
        }

