<div class="footer-w3l">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <h4>Mạng xã hội </h4>
                
                <div class="social-icon">
                    <a href="#"><i class="icon"></i></a>
                    <a href="#"><i class="icon1"></i></a>
                    <a href="#"><i class="icon2"></i></a>
                    <a href="#"><i class="icon3"></i></a>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>Tài khoản của tôi</h4>
                <ul>
                    <li><a href="~/pages/checkout">Thanh toán</a></li>
                    <li><a href="~/pages/login">Đăg nhập</a></li>
                    <li><a href="~/pages/registered"> Tạo tài khoản mới </a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>Thông Tin</h4>
                <ul>
                    <li><a href="~/pages/index">Trang</a></li>
                    <li><a href="~/pages/products">Son</a></li>
                    <li><a href="~/pages/mail">EMail</a></li>
                    <li><a href="~/pages/products1">Kem Chống Nắng</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid foot">
                <h4>Liên Hệ</h4>
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#"> P. Xốm, Phú Lãm, Hà Đông, Hà Nội</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="#">032-8301-422</a></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:vananh@mail.com"> vananh024330@mail.com</a></li>

                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>

<!---footer--->
<!--copy-->
<div class="copy-section">
    <div class="container">
        <div class="copy-left">
            <p>&copy; 2023 My Pham Shop . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
        <div class="copy-right">
            <img src="~/user/images/card.png" alt="" />
        </div>
        <div class="clearfix"></div>
    </div>
    
</div>